rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /accountants/{accountantId} {
      allow read: if request.auth != null && (request.auth.uid == accountantId || request.auth.token.officeId == accountantId);
      allow write: if false;
    }

    match /accountants/{accountantId}/clients/{document=**} {
      allow read: if request.auth != null && (request.auth.uid == accountantId || request.auth.token.officeId == accountantId);
      allow write: if false;
    }

    match /accountants/{accountantId}/invoice_views/{document=**} {
      allow read: if request.auth != null && (request.auth.uid == accountantId || request.auth.token.officeId == accountantId);
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
